.menu-wrapper {
	background-image: none;
	background-color: #005462;
	position: absolute;
	border-width: 0 2px 0 0;
	border-style: solid;
	border-color: white;

	z-index: 401;

	bottom: 0;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	top: 0;
	left: 0;
	width: 380px;

	display: flex;
	flex-direction: column;

	// Add this for transition
	transition: all 0.3s ease;

	&.menu-collapsed {
		// width: 30px;
		left: -420px;
	}

	pointer-events: none;

	.totals {
		.search-filter {
			display: inline-flex;
			flex-shrink: 0;
			outline: 0;
			padding: 0;
			align-items: center;
			user-select: none;
			vertical-align: middle;
			text-decoration: none;
			overflow: hidden;

			label {
				color: #fff;
				padding-left: 8px;
				font-weight: normal;
				margin-bottom: 0;
			}

			&.checked .icon {
				fill: #005462;
			}
		}

		.input-wrapper {
			background-color: #fff;
			border-color: #9ba0b0;
			transition: border 200ms ease-in-out;

			position: relative;
			display: flex;
			align-items: inherit;
			justify-content: inherit;
			border-width: 1px;
			border-style: solid;
			border-radius: 4px;

			input {
				cursor: pointer;
				margin: 0;
				opacity: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.icon {
				fill: #fff;
				height: 14px;
				width: 14px;
				min-width: 14px;
			}
		}
	}

	.puffar {
		flex-grow: 1;
		overflow-y: auto;
		padding-bottom: 20px;


		display: flex;
		flex-direction: column;
		align-items: stretch;
		height: 100%;

		.puff {
			flex-grow: 1;
			/* Allows each .puff to grow and fill the container */
			opacity: 0;
			overflow-y: scroll;
			border-radius: 13px;
			padding: 20px;
			margin-bottom: 15px;
			background: white;

			/* Remove fixed height to allow dynamic sizing */
			/* height: 250px; */

			.app-initialized & {
				opacity: 1;
			}

			/* Remove margin-bottom for the last child to avoid extra space */
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media print {
		display: none;
	}

	>* {
		pointer-events: all;
	}
	.search-box {
		// position: relative;
		// position: relative;

		// top: 68px;
		// margin-right: 20px;
		left: 0;
		margin-bottom: 15px;

		z-index: 1000;

		cursor: pointer;

		opacity: 0;

		@media (max-width: 550px) {
			top: 0;
		}

		.app-initialized & {
			opacity: 1;
		}

		@media (max-width: 550px) {
			left: 0;
		}

		input[type="text"] {
			width: 100%;
			height: 50px;

			margin-bottom: 0;

			opacity: 0;

			pointer-events: none;

			// .transition(all 200ms ease-in-out);

			&.person,
			&.place {
				// deactivate mouse interaction, make it impossible to add a cursor that can edit the input field
				pointer-events: none !important;
				opacity: 0 !important;

				.search-button {
					visibility: hidden;
				}

			}
		}

		.search-label.person,
		.search-label.place {
			opacity: 1 !important;
		}

		ul.suggestions {
			display: block;
			border-radius: 3px;
			box-shadow: rgb(209, 209, 209) 0px 1px 12px 1px;
			width: 93%;
			padding: 10px 0px;
			position: absolute;
			background-color: white;
			z-index: 2500;
			overflow: hidden;
			margin: 0.6rem 0px;
			list-style-type: none;
			margin-bottom: 0;
			margin-top: 5px;
			pointer-events: auto;

			.suggestions-label {
				padding: 0.5rem 1rem;
				font-size: 0.8rem;
				color: #999;
			}

			.suggestions-close {
				position: absolute;
				right: 1rem;
				top: 0.5rem;
				cursor: pointer;
				color: #999;
				font-size: 1.2rem;
			}

			li {
				padding: 0.5rem 1rem;
				cursor: pointer;

				&:hover,
				&.selected,
				&:focus {
					background-color: #f5f5f5;
				}
			}
		}

		.search-label {
			position: absolute;

			top: 28px;
			left: 22px;

			.transition(all 150ms ease-in-out);

			pointer-events: none;

			@media (max-width: 550px) {
				top: 21px;
				left: 20px;
			}
		}

		// .search-button {
		.search-field-buttons {
			color: #6c6c6c;
			font-size: 20px;

			position: absolute;

			top: 21px;
			right: 25px;

			padding: 0;
			margin: 0;

			@media (max-width: 550px) {
				top: 15px;
				right: 16px;
			}

			button, .search-spinner {
				border: none;
				display: inline-block;

				width: 30px;
				height: 30px;

				pointer-events: none;

				vertical-align: top;

				.transition(all 200ms ease-in-out);
			}

			.search-button {
				background-image: url(../img/icon-search.png);
				background-size: 20px 20px;
				background-position: center;
				background-repeat: no-repeat;
			}

			.search-spinner {
				background-image: url(../img/icon-spinner.png);
				background-size: 20px 20px;
				background-position: center;
				background-repeat: no-repeat;
				// animate spinner, rotate it
				animation: spin 1s infinite linear;
				width: 60px;
			}

			@keyframes spin {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(360deg);
				}
			}

			.clear-button {
				background-image: url(../img/icon-clear.png);
				background-size: 20px 20px;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		.expanded-content {
			margin: 0;

			max-height: 0;

			display: none;

			pointer-events: none;

			.transition(all 300ms ease-in-out);
			.transition-delay(120ms);

			a {
				text-decoration: none;
				color: @color-red;
			}

		}

		hr {
			margin: 10px -12px;

			border-color: #ccc;
		}

		hr+button {
			margin-top: 5px;
		}

		.advanced-button {
			display: block;

			margin: 0 -12px -25px -12px;
			padding: 10px 10px 10px 15px;

			border-top: 1px solid #c6c7c8;

			cursor: pointer;

			&:hover {
				background: rgba(255, 255, 255, 0.35);
			}
		}

		.advanced-content {
			display: none;
			margin: 0;

			// max-height: 0;

			pointer-events: none;

			.transition(all 300ms ease-in-out);

			>* {
				opacity: 0;

				.transition(opacity 150ms ease-in-out);
			}
		}

		button {

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.expanded {
			// left: -10px;
			// right: -10px;
			// left: 20px;
			// right: 20px;

			cursor: auto;
			position: relative;

			input[type="text"] {
				opacity: 1;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 16px;
				pointer-events: all;
				&:focus {
					box-shadow: 0 3px 13px #01666e;
				}
			}

			.search-label {
				opacity: 0;
			}

			.search-button,
			.clear-button,
			.search-spinner {
				pointer-events: all;

				// @media (min-width: 550px) {
				// 	top: 23px;
				// }
			}

			.expanded-content {
				max-height: 800px;

				margin: 15px 0 5px 0;

				display: block;

				pointer-events: all;

				.transition-delay(0ms);
			}
		}

		&.advanced {
			.advanced-button {
				background: rgba(255, 255, 255, 0.55);
			}

			.advanced-content {
				// max-height: 800px;

				margin: 25px 0 5px 0;

				opacity: 1;

				pointer-events: all;

				display: block;


				>* {
					opacity: 1;
				}
			}
		}
	}


	.radio-group {
		margin-bottom: 10px;

		label {
			display: inline-block;

			margin-right: 10px;

			input {
				margin-bottom: 0;
			}
		}
	}

	.advanced-content .list-container {
		display: block;

		// top: 66px;
		// bottom: 0;

		width: 100%;
		min-height: 60px;
		max-height: 450px;

		background: #fff;

		border: 1px solid #ccc;
		border-radius: 2px;
		//box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

		overflow-y: auto;

		.transition(all 300ms ease-in-out);

		@media (max-width: 550px) {
			top: 50px;
		}

		.item {
			display: block;

			padding: 10px 15px;

			color: #333;
			text-decoration: none;

			border-bottom: 1px solid #ccc;
			box-sizing: border-box;

			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&.selected {
				color: #fff;

				background-color: @color-red-lighter;
			}
		}

		.grid-list {
			.item {
				float: left;

				width: 50%;

				&:nth-child(2n) {
					border-left: 1px solid #ccc;
				}
			}
		}

		.list-subheading {
			display: block;

			padding: 10px 15px;

			color: #333;
			text-decoration: none;
			font-weight: bold;

			border-bottom: 1px solid #ccc;
		}
	}

	.list-container {
		display: block;
		height: 250px;
	}

	.has-docked-control & {
		bottom: 60px;
	}
}

@media (max-width: 550px) {
	.menu-wrapper {
		box-sizing: border-box;
		width: 100%;
		padding: 10px;
		z-index: 1001;
	}

	.menu-wrapper.menu-collapsed {
		position: relative;
		left: -500px;
	}
}