.popup-wrapper {
	.popup-open-button.map-right-control {
        left: unset;
        right: 0;
        margin-top: 20px;
    }
}
.map-bottom-wrapper {
    .popup-wrapper {
        float: left;
        .popup-open-button {
            position: static;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

