.popup-wrapper {
	.popup-open-button.map-right-control {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        left: 0;
    }
}

.map-bottom-wrapper {
    .popup-wrapper {
        float: left;

        .popup-open-button {
            position: static;
            display: inline-block;
            margin-right: 20px;

            @media screen and (max-width: 550px) {
                margin-right: 4px;              
            }
        }
    }
}

