@import "../ISOF-React-modules/less/mixins.less";
@import "../ISOF-React-modules/less/skeleton.less";
@import "leaflet.less";
@import "../ISOF-React-modules/less/MarkerCluster.Default.less";

@import "ui-components/map.less";
@import "../ISOF-React-modules/less/ui-components/map-ui.less";
@import "ui-components/popupwindow.less";
@import "popupwindow.less";

@import "mapmenu.less";
@import "recordview.less";

@import "ui-components/map-menu-list.less";

@import "ui-components/dropdownmenu.less";
@import "ui-components/local-library.less";
@import "local-library.less";
@import "ui-components/overlay.less";
@import "ui-components/audio-player.less";
@import "../ISOF-React-modules/less/ui-components/element-notification-message.less";
@import "../ISOF-React-modules/less/ui-components/popup-notification-message.less";
@import "ui-components/share-buttons.less";
@import "ui-components/feedback-buttons.less";
@import "ui-components/image-map.less";
@import "../ISOF-React-modules/less/ui-components/records-list.less";

@import "../ISOF-React-modules/less/minimal-scrollbar.less";
@import "tables.less";

@import "../ISOF-React-modules/less/ui-components/transcriptionform.less";

@import "statistics.less";

// @import "../ISOF-React-modules/less/accessibility.less";
// Accessibility
*:focus {
    opacity: 1 !important;
    outline: 2px solid #01535d;
}

// @import "../ISOF-React-modules/less/sitevision.less";

//TODO: @color parameters in less files based basic less parameters named on either:
// 1) color intensity perspective or 
// 2) color function perspective

// Use https://google-webfonts-helper.herokuapp.com/fonts
@import 'fonts.less';

//isof profile colors until june 2021:
@color-red: #a6192e;
@color-red-lighter: #d4454c;
@color-red-divider: #b62837;
@notification-background: #7d1b1f;

//map applications standard colors:
@color-gray: #edeff1;
@color-gray-border: #d1d1d1;
@color-gray-background: #f5f5f5;

//This application:
@color-darkgray: #dddddd;
@color-gray: #f5f5f5;

// Colors defined in color intensity perspective
//isof profile colors from june 2021:
//Used?:
//@color-black: #000000;

//Ljusare färg för knapp för icke-aktiv
//Mörkare färg för knapp för aktiv + hover

//Icke aktiv knapp: (om fungerar alternativt Text alternativfärg)
@color-lightest-isof: #3FD695;
//Icke aktiv knapp: (HELST om fungerar)
//Text alternativfärg (ej standard dvs vanligtvis svart):
@color-text-contrast-isof: #005462;
//Profilfärg
@color-lighter-isof: #005462;
//Aktiv knapp + knapp-hover-over: 
@color-darker-isof: #1c3f49;

// Colors defined in color function perspective
//Step 1: Defined less values for usage directly in rules from function perspective in adjusted rules (new from june 2021):
//@color-background-lighter-isof: @color-lighter-isof;
//@color-hover-active-button-isof: @color-lightest-isof;
@color-hover-active-button-isof: @color-text-contrast-isof;

//Step 2: Handle less for rules using color-values directly not adjusted (yet?)
//Map to new isof-profile colors:
@color-red: @color-text-contrast-isof;
@color-red-lighter: @color-lightest-isof;
@color-red-divider: @color-darker-isof;
@notification-background: @color-darker-isof;


@viewport {
	zoom: 0.75;
}

// Sitevision hack, remove #Publiceringsdatum
#Publiceringsdatum + span {
	display: none;
}
html, body {
	height: 100vh;
	width: 100vw;

	overflow: hidden;

	@media print {
		overflow: visible;
	}
}

body {
	padding: 0;
	margin: 0;

	font-size: 1rem;

	font-family: "Source Sans Pro",sans-serif;

	background-color: @color-gray-background;
	background-image: url('../img/loader.gif');
	background-position: center;
	background-repeat: no-repeat;
}

button {
	font-family: "Source Sans Pro",sans-serif;
}

.text-small {
	font-size: 0.9rem;
}

.text-smaller {
	font-size: 0.7rem;
}

h2 {
	font-size: 2rem;
	.lighter {
		font-size: 1.4rem;
		color: #8d8d8d;
	}
}

h3 {
	font-size: 1.8rem;
}

.text-center {
	text-align: center;
}

.font-weight-normal {
	font-weight: normal;
}

.isof-app-footer {
	padding: 5px 5px !important;
	//background: @color-darker-isof;
	// vit med 75% transparens
	background: rgba(255, 255, 255, 0.75);


	display: inline-flex;
    flex-direction: column;
    align-items: center;
	
	overflow: hidden;

	a {
		img {
			height: 5rem;
		}
		// padding: 20px 30px !important;

		// font-size: 16px !important;
		// text-decoration: none;
		color: @color-darker-isof;
		//color: black;
		font-size: 1.0rem;

		// display: inline;
		// Text in one line:
		white-space: nowrap;	}
		overflow: hidden;

		// Center vertically by simple solution margin:
		// margin-top: 10px;
		// display: table-cell;
		// vertical-align: middle;
	}

.margin-top-0 { margin-top: 0 !important; }
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-35 { margin-top: 35px !important; }

.margin-bottom-0 { margin-bottom: 0 !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-35 { margin-bottom: 35px !important; }

.app-container {
	position: absolute;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	overflow: hidden;

	.transition(top 300ms ease-in-out);

	@media (max-width: 550px) {
		top: 39px;
	}

	&.has-overlay {
		overflow: hidden;

		@media print {
			position: initial;

			overflow: visible;
		}
	}

	.has-docked-control & {
		top: 60px;
	}
}

.helptext
 	p {
		margin-bottom: 0rem;
		margin-top: 1.1rem;
	}
	code {
		padding-top: 0;
		padding-bottom: 0;		
	}

.container-wrapper {
	position: absolute;

	top: 100vh;
	left: 0;
	right: 0;

	padding: 60px 0;

	background: #fff;

	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.4);

	z-index: 1300;
}

.list-pagination {
	margin-top: 20px;
	
	button {
		margin-right: 10px;

		@media print {
			display: none;
		}
	}
}

audio::-webkit-media-controls {
    overflow: hidden !important
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 12px);
    margin-left: auto;
}

@media print {
	a {
		text-decoration: none !important;
	}
}

.sort {
	cursor: pointer;
}

.table-responsive th:not(:first-child) {
	padding-left: 0;
}

.records-list td.table-buttons {
	& > a {
		color: #005462;
	}
	& > span {
		color: #000;
	}
	@media screen and (max-width: 550px) {
		padding: 12px 15px 0 15px;
		&:last-child {
			padding-bottom: 15px;
		}
	}
}

.records-list td.table-buttons > a, .records-list td.table-buttons > span {
	display: inline-block;
	padding: 2px 5px;
	margin: 0 5px 5px 0;
	background: #ffffff;
	border-radius: 3px;
	// color: #005462;
	font-size: 0.8rem;
	border: 1px solid whitesmoke;
	a {
		margin: 0;
		padding: 0;
	}
	// span, &.year, &.category {
	// 	color: #000;
	// }
	&.transcriptionstatus {
		// color:#000;
		&.empty {
			display: none;
		}
		&.published {
			background-color: #cfc;
			border-color: #cfc;
		}
		&.undertranscription, &.transcribed {
			background-color: #ffc;
			border-color: #ffc;
		}
	}
}

.table-compressed table td {
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: .8rem;
}

.switcher-help-button {
    width: 1rem;
	background: @color-lighter-isof;
	border-radius: 50%;
	border: 1px solid white;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	height: 1rem;
	line-height: 1rem;
	margin: 0 0.5rem;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.open-sidemenu-button {
	background: @color-lighter-isof;
	color: white;
	cursor: pointer;
	font-weight: bold;
	// height: 45px;
	padding: 0; //13px 0 0;
	// position: absolute;
	// text-align: center;
	height: 48px;
	width: 80px;
	display: block;
	float: left;
	box-sizing: border-box;
	border: 2px solid @color-lighter-isof;
	// on hover, the image in the div zooms in a bit
	// and the background color changes to a darker shade
	// of green.
	transition: border-color 0.1s ease-in-out;
	&:hover {
		border: 2px solid white;
		// animate the border color change
	}	
}

.subrecords {
	a {
		cursor: pointer;
	}
	ul {
		margin-left: 5px;
		li {
			margin-bottom: 0;
		}
	}
}

// used in comment in records
div.display-line-breaks {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.record-text-container {
	display: inline-flex;
	flex-direction: column;
}

.record-text {
	// div with a white background, a slight shadow to make
	// it look like it's lifted off the page, rounded corners
	// to give it a more organic feel, and some padding to 
	// separate the content from the edges.
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	font-family: "Source Serif Pro", serif;
	line-height: 1.5;
	margin: 0 0 20px;
	max-width: 100%;
	padding: 20px 30px;
}

.next-random-record-button-container {
	position: relative;
	height: 6px;
	.next-random-record-button {
		position: absolute;
		right: 0;
		top: 6px;
	}
}

.map-bottom-wrapper {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 1100;
	@media screen and (max-width: 550px) {
		left: 0;	
	}
}

.map-bottom-control {
	font-family: "Source Sans Pro", sans-serif !important;
}

.map-wrapper .leaflet-control-zoom, .leaflet-control-layers {
	bottom: 60px;
	@media screen and (max-width: 550px) {
		bottom: 100px;
	}
}

.leaflet-control-layers-toggle {
	background-image: url(../img/layers.png);
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(../img/layers-2x.png);
	}

.map-wrapper {
	.leaflet-control-container {
		.leaflet-top {
			top: 160px;
		}
	}
}

.map-viewmode-menu {
	top: 348px !important;
}

footer .logo {
	bottom: 20px;
	right: 10px;
	@media screen and (max-width: 550px) {
		right: 0;
	}
}

header .logo {
	top: 5px;
	left: 20px;
	@media (max-width: 550px) {
		top: 45px;
	}
}

header .logo, footer .logo {
	@media (max-width: 550px) {
		// display: none;
		top: unset;
		.isof-app-footer {
			padding: 0 !important;
			#portal {
				display: none;
			}
		}
	}
}

footer, header {
	visibility: hidden;

	background: transparent !important;

	pointer-events: none;

	.logo {
		visibility: visible;

		position: absolute;

		pointer-events: all;

		z-index: 1100;

		.transition(top 300ms ease-in-out);

		@media print {
			top: 0;
			left: 0;
		}


		.has-docked-control & {
			top: 65px;
		}
	}

	.lp-nav-bar {
		background: transparent;
	}

	#Meny1+ul {
		/*
		Vi döljer menyn tills vi har flera kartor än bara sägenkartan
		*/
		visibility: visible;

		position: fixed;

		bottom: 20px;
		right: 20px;

		pointer-events: all;

		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		background-color: @color-red;

		overflow: hidden;
		
		z-index: 1100;

		.transition(all 400ms ease-in-out);
		.transition-delay(700ms);

		opacity: 0;

		.transform(translateY(50px));

		.app-initialized & {
			opacity: 1;

			.transform(translateY(0));
		}

		@media (max-width: 650px) {
			display: none;
		}

		>li {
			display: inline-block !important;

			margin-bottom: 0;

			a {
				padding: 20px 30px !important;

				font-size: 16px !important;
				text-decoration: none;
				color: #fff;

				&.vitxbrodtext {
					background-color: @color-red-lighter;

					text-decoration: underline;
				}
			}
		}
	}

	#Meny+ul {
		visibility: visible;

		position: fixed;

		top: 20px;
		right: 20px;

		min-width: 350px;

		margin: 0;

		background: #fff;

		border-top: 6px solid @color-red !important;
		border-radius: 2px;

		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);

		pointer-events: all;

		z-index: 1100;

		.transition(all 300ms ease-in-out);

		opacity: 0;

		.transform(translateY(-50x));

		.app-initialized & {
			opacity: 1;

			.transform(translateY(0));
		}

		.has-docked-control & {
			top: 80px;
		}

		@media (max-width: 650px) {
			display: none;
		}

		>li {
			display: inline-block;

			margin: 0;

			a {
				display: inline-block;

				padding: 15px 25px;
			}
		}
	}
}

.filter-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
  
.filter-wrapper label {
	margin-left: 10px;
	@media screen and (max-width: 550px) {
		font-size: 12px;
	}	
}