// Main leaflet wrapper
.leaflet-container {
	a.leaflet-popup-close-button {
		top: 12px;
		right: 12px;
	}
}

.leaflet-popup-content-wrapper {
	border-radius: 3px;
}

.leaflet-popup-content {
	margin: 0;

	h2 {
		margin-bottom: 15px;
		padding: 12px 45px 12px 15px;

		font-size: 1.2rem;

		border-bottom: 1px solid #d6b7bc;
	}

	p {
		margin: 0 0 15px 0;
		padding: 0 15px;
	}
}

.leaflet-control-layers-list {
	margin-bottom: 0;

	label {
		margin: 5px;

		input {
			margin-bottom: 0;
		}
	}
}

.leaflet-overlay-pane {
	>svg {
		pointer-events: all;
	}
}

.leaflet-bottom {
	@leaflet-bottom-val: 70px;
	bottom: @leaflet-bottom-val;
	@media screen and (max-width: 550px) {
		bottom: 95px;
	}
	.leaflet-control-attribution {
		bottom: -(@leaflet-bottom-val);
	}
}
 .leaflet-right {
	right: 15px;
 }

.leaflet-control {
	.map-location-icon {
		display: block;

		width: 30px;
		height: 30px;

		background-image: url('../../img/icon-locate.png');
		background-size: 20px 20px;
		background-position: center;
		background-repeat: no-repeat;

		.following& {
			background-image: url('../../img/icon-locate-following.png');
		}
	}
}

@media print {
	.leaflet-control {
		display: none;
	}
}

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
	font-size: 9px;
}

.map-wrapper .leaflet-control-zoom, .leaflet-control-layers {
	bottom: 60px;
	@media screen and (max-width: 550px) {
		bottom: 100px;
	}
}

.leaflet-control-layers-toggle {
	background-image: url(../../img/layers.png);
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(../../img/layers-2x.png);
	}

.map-wrapper {
	.leaflet-control-container {
		.leaflet-top {
			top: 160px;
		}
	}
}
