.records-list {
	tr.highlighted {
		td {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.item-title {
			font-size: 1.3rem;
		}

		.item-summary {
			margin-top: 10px;

			font-size: 1.05rem;
		}
	}

	td.table-buttons {
		a {
			display: inline-block;
			
			padding: 2px 5px;
			margin: 0 5px 5px 0;
			
			background: #ffffff;
			
			border-radius: 3px;
			
			color: @color-red;
			font-size: 0.8rem;
		}
	}

	thead {
		tr {
			th {
				&:first-child {
					width: 50%;
				}
			}
		}
	}
}
