.share-buttons {
	// display: inline-block;

	.copy-link {
		word-wrap: break-word;
	}

	margin-top: 20px;

	.popup-wrapper & {
		padding: 10px;

		border: 1px solid #ccc;
		border-radius: 5px;
	}

	label {
		float: left;

		margin-top: -16px;
		margin-bottom: 0;

		padding: 0 5px;

		font-size: 0.9rem;
		font-weight: normal;
		color: #ababab;

		background: #fff;
	}

	.fb-share-button {
		height: 20px;
		max-height: 20px;
		min-width: 45px;

		margin-right: 5px;

		overflow: hidden;
	}

	.twitter-share-button {
		height: 20px;

		min-width: 40px;
	}
}
